<section id="lights-setup-step-4">
  <section id="switch-style">
    <label for="useGroups">
      <input id="useGroups" type='radio' name="useGroups" ng-model="vm.useGroups" value="true">
      Use groups.
    </label>
    <label for="useLight">
      <input id="useLights" type='radio' name="useGroups" ng-model="vm.useGroups" value="false">
      Use individual lights.
    </label>
  </section>

  <section id="group-setup"
    ng-class="{
      'active': vm.useGroups === 'true'
    }"
  >
    <ul>
      <li ng-repeat="(id, group) in vm.groups" ng-click="vm.pickGroup(id, group)">{{ group.name }}</li>
    </ul>
  </section>

  <section id="light-setup"
    ng-class="{
      'active': vm.useGroups === 'false'
    }"
  >
    <ul>
      <li ng-repeat="(id, light) in vm.lights" ng-click="vm.pickLight(id, light)">{{ light.name }}</li>
    </ul>
  </section>
</section>
